{% extends 'table/home.html' %} {% block title %} Register {% endblock %} 
 
{% block body %}
<div class="form">
  <form action="" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label>{{ form.username.label }}</label> {{ form.username }}
    </div>
    <hr />
    <div class="form-group">
      <label>{{ form.email.label }}</label> {{ form.email }}
    </div>
    <hr />
    <div class="form-group">
      <label>{{ form.password1.label }}</label> {{ form.password1 }}
    </div>
    <hr />
    <div class="form-group">
      <label>{{ form.password2.label }}</label> {{ form.password2 }}
    </div>
    {{ form.errors }}
    <button class="btn btn-primary btn-success">Register</button>
  </form>
  <div>
        <p>If you have account, then <a href="{% url 'login' %}">Login.</a></p>
    </div>
</div>
{% endblock %} {% block script %}
  var form_fields = document.getElementsByTagName("input");
  for (var field in form_fields) {
    form_fields[field].className += "form-control";
  }
{% endblock %}
